body {
    font-family: Arial, sans-serif;
    background-color: #1e2528; /* Color de fondo del sitio */
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff; /* Color de fondo del header */
    padding: 10px 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-radius: 15px;
    position: top; /* Fijar el header en la parte superior */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Añadir espacio a los lados */
}

.logo img {
    max-width: 100px;
    margin-top: 10px; /* Ajustar el margen superior del logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #1e2528;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7dbeb8;
}


nav ul li a.btn {
    background-color: #e32f21; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    border-radius: 5px; /* Borde redondeado */
    transition: background-color 0.3s;
}

/* Estilo al pasar el ratón sobre los botones */
nav ul li a.btn:hover {
    background-color: #7dbeb8; /* Cambio de color al pasar el ratón */
}

/* Animación para el ícono del carrito */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para el carrito */

#carrito {
    position: relative;
}


#carrito:hover #carrito-dropdown {
    display: block; /* Mostrar el contenido al pasar el ratón sobre el carrito */
}

#carrito-dropdown {
    display: none; /* Ocultar el contenido del carrito por defecto */
    position: absolute;
    top: 50px; /* Posición del contenido del carrito debajo del ícono */
    right: 0;
    background-color: #1e2528;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

/* Estilos para el contenido del carrito */
#carrito-dropdown img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#carrito-dropdown .producto-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#carrito-dropdown .producto-info p {
    margin: 0;
}

/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #1e2528;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Animación para el ícono del carrito */
#carrito svg {
    transition: transform 0.3s ease;
}

#carrito:hover svg {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el ratón sobre el carrito */
}

@keyframes agregarProducto {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.animacion-agregar {
    animation: agregarProducto 0.5s ease-in-out;
}

/* sitio */

main {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 10px;
    color: #1e2528;
}

.footer-logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 40px;
}

.footer-links ul li {
    margin-bottom: 10px;

}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}

.contact-info p,
.shipping-info p {
    margin-bottom: 5px;
    margin-right: 10px;
    color: #1e2528;
}

.shipping-info img {
    max-width: 120px;
}

/* Estilos para el carrusel de productos */
.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin; /* Ancho de la scrollbar */
    scrollbar-color: #7dbeb8 #1e2528;
    margin-top: 150px;
}

.carrusel::-webkit-scrollbar {
    width: 10px; /* Ancho de la scrollbar */
}

.carrusel::-webkit-scrollbar-track {
    background: #1e2528; /* Color de fondo de la scrollbar */
}

.carrusel::-webkit-scrollbar-thumb {
    background-color: #7dbeb8; /* Color del pulgar de la scrollbar */
    border-radius: 5px; 
    border: 2px solid #bf0a0d; /* Borde del pulgar */
}

/* productos */
/* Estilos para las cajas de productos */
.producto {
    background-color: #ffffff; /* Cambiamos el color de fondo a blanco */
    border: 2px solid #181619; /* Borde oscuro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin-right: 20px; /* Espacio entre las cajas */
    margin-bottom: 20px; /* Espacio entre las cajas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s; /* Efecto de transición al pasar el mouse */
}

.producto:hover {
    transform: translateY(-5px); /* Desplazamiento hacia arriba al pasar el mouse */
}

/* Estilos para el texto dentro de las cajas de productos */
.producto h3, .producto p {
    color: #181619; /* Color de texto oscuro */
}

.producto img {
    width: 100%; /* La imagen ocupa todo el espacio disponible */
    border-radius: 5px; /* Bordes redondeados para la imagen */
}

.producto button {
    background-color: #e32f21;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para la scrollbar del sitio en general */
body::-webkit-scrollbar {
    width: 10px; /* Ancho de la scrollbar */
}

body::-webkit-scrollbar-track {
    background: #1e2528; /* Color de fondo de la scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #7dbeb8; /* Color del pulgar de la scrollbar */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para la sección de suscripción */
#suscripcion {
    background-color: #ffffff; /* Color de fondo */
    padding: 40px 0;
    max-width: 100%;
    margin-top: 100px;
}

#suscripcion h2 {
    text-align: center;
    color: #181619; /* Color del texto */
    margin-bottom: 40px;
}

.suscripcion-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.suscripcion-item {
    text-align: center;
    padding: 20px;
    border: 2px solid #e32f21; /* Borde rojo */
    border-radius: 12px;
    background-color: #181619; /* Fondo blanco */
    margin: 20px;
    width: 40%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.suscripcion-item img {
    width: 100px;
    border-radius: 50%;
}

.suscripcion-item:hover {
    transform: translateY(-5px);
}

.suscripcion-item h3 {
    margin-top: 20px;
    color: #ffffff; /* Color del texto */
}

.suscripcion-item button {
    background-color: #e32f21; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suscripcion-item button:hover {
    background-color: #7dbeb8; /* Cambio de color al pasar el ratón */
}

.aviso-container {
    background-color: #f8d7da; /* Color de fondo rojo claro */
    color: #721c24; /* Color de texto rojo oscuro */
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px; /* Agregamos margen superior */
    border-radius: 5px;
}

.aviso {
    max-width: 800px;
    margin: 0 auto;
}

.aviso p {
    margin-bottom: 10px;
}

.aviso strong {
    color: #721c24; /* Color de texto rojo oscuro */
}

.whatsapp-button {
    display: inline-block;
    background-color: #4caf50; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #45a049; /* Color de fondo verde más oscuro al pasar el mouse */
}